@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-menu
      &__link
        margin-right: 10px
        margin-left: 10px
        font-weight: 700
        font-size: 12px
        line-height: 16px
        &:hover
          color: $secondary
    &__button
      margin-left: 40px
  .tabs
    &-item
      width: max-content
      &__block
        &:hover
          background-color: $secondary
    &-content
      width: 100%
      &__block
        &-link
          &:hover
            background-color: $blue
  .extra
    &-block
      &__text
        margin-right: 4px
    &-wrapper
      &__divider
        margin-right: 10px
        margin-left: 10px
  .articles
    &-wrapper
      grid-template-columns: 1fr
    &-main
      &__block
        &-thin
          &__image
            width: 100%
        &-thin2
          &__image
            width: 100%
    &-aside
      grid-template-rows: 170px min-content
      grid-template-columns: 1fr 1fr
      height: 100%
      &__tags
        order: 3
        grid-column: span 2
        height: 100%
        &-divider
          width: 100%
      &__download
        &-title
          margin-top: 10px
        &-info
          margin-bottom: 45px
        &-divider
          width: 100%
      &__social
        &-link
          &:hover
            opacity: 1
  .bottomPages
    &-wrapper
      grid-template-columns: 100%
    &-latest
      &__container
        display: flex
        flex-wrap: wrap
      &__articles
        width: 50%
        &-block
          display: flex
          align-items: center
      &__divider2
        display: block
        width: 100%
  .bottom
    &-wrapper
      display: flex
      flex-wrap: wrap
      flex-direction: column
      &__main
        &-block
          padding: 40px 22px 30px
      &__left
        width: 100%
      &__right
        &-work
          flex-basis: 1
          width: 100%
          &__block
            flex-basis: 1
            width: 100%
            &-heading
              margin-bottom: 80px
    &-slider
      &__image
        max-width: 100%
  .newsletter
    &-form
      &__button
        &:hover
          background-color: $blue
  .footer
    &-links
      &__block
        &-divider
          &__red
            width: 100%
          &__violet
            width: 100%
          &__blue
            width: 100%
          &__orange
            width: 100%
          &__green
            width: 100%
          &__greyblue
            width: 100%
    &-contacts
      &__links
        &-logo
          &:hover
            opacity: 1
  .announce
    height: 100%
    &-wrapper
      padding-left: 62px
      &__author
        width: auto
        height: auto
        bottom: -180px
        right: 0px
        &-block
          padding: 20px 15px 0px
          &__avatar
            width: 70px
            height: 70px
          &__name
            font-size: 16px
            line-height: 20px
          &__prof
            font-size: 12px
            line-height: 18px
          &__counter
            font-size: 12px
            line-height: 18px
        &__link
          font-size: 12px
          line-height: 18px
    &__heading
      &-navigation
        &__link
          &:hover
            color: $secondary
    &__headline
      font-size: 30px
      line-height: 40px
    &__text
      font-size: 14px
      line-height: 20px
    &__bottom
      max-width: 150px
      flex-wrap: wrap
      &-date
        margin-bottom: 10px
  .page
    &-bottom
      padding-left: 0
      &__theme
        margin-bottom: 20px
        position: relative
        top: 0
        left: 0
        width: auto
        &-wrap
          display: flex
        &-image
          min-width: 263px
        &-heading
          margin-top: 0
        &-wrapper
          &__mr
            padding-left: 10px
  .activities
    &-card
      max-width: 220px
  .comments
    &-wrapper
      padding: 0px 50px
  .commentaries
    &-load
      width: 100%
  .to-top
    display: none
  #checkbox-error
    position: absolute
    bottom: 40px
    left: 65px
@media (min-width: 992px)
  .navbar
    &__button
      transition: all 0.3s ease-in-out
      &:hover
        transform: scale(1.03)
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2)
  .to-top
    transition: all 0.3s ease-in-out
    &:hover
      box-shadow: inset 0 0 15px $greyblue
  .modal
    &__button
      transition: all 0.3s ease-in-out
      &:hover
        background-color: $darkblue
  .activities
    &-card
      &__heading
        &-link
          &:hover
            color: $orange
  .page
    &-bottom
      &__tags
        &-item
          &:hover
            border: 1px solid $orange
            color: $orange
  .thankyou
    &-link
      transition: all 0.3s ease-in-out
      &:hover
        background: $darkblue
  .footer
    &-contacts
      &__social
        &-link
          transition: all 0.3s ease-in-out
          &:hover
            opacity: 0.6
            transform: scale(1.03)
            box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2)
  .bottomPages
    &-articles
      &__block
        cursor: pointer
        transition: all 0.3s ease-in-out
        &:hover
          background-color: #F5F5F5
@media (max-width: 992px)
  .container
    max-width: 740px
  .logo
    width: 130px
  .navbar
    &__button
      padding: 5px 22.2px
      font-size: 12px
      line-height: 20
      margin-left: 5px
  .extra
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
      &__divider
        &--center
          display: none
    &-block
      width: 250px
      justify-content: space-between

  .articles
    &-main
      grid-template-rows: 1fr
      height: 100%
      &__link
        &:hover
          color: $secondary
      &__block
        &-thin
          &__bottom
            top: 100px
            &-coment
              flex-wrap: wrap
        &-thin2
          height: 100%
          &__image
            height: 70%
        &-wide
          &__block
            &-left
              width: 50%
            &-right
              width: 45%
          &__coment
            padding-right: 10px
            margin-top: 5px
    &-aside
      &__download
        &-info
          margin-bottom: 20px
  .bottom
    &-wrapper
      display: flex
      flex-wrap: wrap
      flex-direction: column
      &__main
        min-height: 150px
        &-block
          padding: 44px 22px 30px
          &__article
            &:hover
              color: $primary
      &__block
        min-height: 150px
        &-headline
          color: $primary
      &__left
        width: 100%
        &-block
          &__headline
            &:hover
              color: $secondary
      &__right
        &-work
          &__block
            max-width: 400px
            &-heading
              margin-bottom: 50px
            &-headline
              &:hover
                color: $primary
  .footer
    &-contacts
      flex-direction: column
      align-items: flex-start
      &__social
        &-link
          margin-left: 0
          margin-right: 5px
      &__links
        flex-direction: column
        align-items: flex-start
        margin-bottom: 10px
        &-logo
          margin-bottom: 10px
        &-item
          margin-bottom: 5px
    &-links
      flex-wrap: wrap
      &__block
        width: 50%
        &-item
          &__link
            &:after
              display: none
            &:hover:after,
            &:focus:after
              display: none
            &:hover
              color: $primary
    &-bottom
      display: flex
      flex-direction: column
      &__info
        max-width: 100%
        text-align: center
        margin-right: 0
        margin-bottom: 20px
      &__copyright
        text-align: center
  .modal
    &__dialog
      width: 87%
  .page
    &-top
      padding-left: 0
      &__text
        &-first
          width: 520px
    &-bottom
      &__tags
        &-item
          &:hover
            border: 1px solid $divider
            color: $primary
  .activities
    &-card
      max-width: 170px
      min-height: 50px
  .comments
    &-wrapper
      padding: 0
  .commentaries
    &-wrapper
      padding-left: 0
    &-reply
      &__block
        &-form
          &__textarea
            width: 100%
  #checkbox-error
    position: absolute
    bottom: 40px
    left: 65px
@media (max-width: 768px)
  .container
    max-width: 676px
    width: 92%
  body
    padding-top: 70px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__button
      order: -1
      margin: 0
    &-menu
      display: none
      position: fixed
      top: 70px
      left: 0
      right: 0
      bottom: 0
      width: 100%
      background-color: $primary
      &--visible
        overflow: scroll
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        justify-content: space-around
      &__link
        font-weight: 900
        font-size: 24px
        line-height: 30px
        &--light
          font-weight: 900
          font-size: 24px
          line-height: 30px
          color: $secondary
    &-button
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      padding: 0
      border: none
      cursor: pointer
      background-color: $primary
      &__line
        width: 16px
        height: 1px
        background-color: $secondary
    &-buttons
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      padding: 0
      border: none
      cursor: pointer
      background-color: $secondary
      &__line
        width: 16px
        height: 1px
        background-color: $primary
        &--light
          width: 16px
          height: 1px
          background-color: $primary
  .tabs
    &-content
      &__block
        &-headline
          width: 100%
          font-size: 30px
          line-height: 40px

  .extra
    &-block
      width: 234px
  .articles
    &-main
      grid-template-columns: 1fr 1fr
      &__block
        &-wide
          grid-column: span 2
          &__block
            &-right
              width: max-content
        &-thin
          &__bottom
            top: 160px
            &-coment
              justify-content: left
        &-thin2
          height: 370px
          grid-row: span 1
    &-aside
      &__social
        &-link
          &:hover
            opacity: 1
  .bottomPages
    &-articles
      &__block
        flex-wrap: wrap
        &-image
          width: 100%
          margin-right: 0
          margin-bottom: 10px
  .bottom
    &__link
      font-size: 24px
    &-wrapper
      &__main
        &-block
          padding: 30px
          &__article
            margin-bottom: 10px
          &__text
            margin-bottom: 25px
      &__right
        display: flex
        flex-wrap: wrap
        flex-direction: column
        &-work
          grid-column: span 1
          grid-row: span 1
          padding: 25px 25px
          &__block
            width: 250px
            &-link
              left: 10px
              font-size: 10px
              line-height: 12px
  .footer
    &-bottom
      &__info
        font-size: 12px
        margin-right: 15px
      &__copyright
        font-size: 12px
  .announce
    height: 100%
    &-wrapper
      padding-top: 23px
      padding-bottom: 50px
      padding-left: 42px
      &__author
        bottom: -68px
        right: 0px
        &-block
          display: flex
          flex-direction: row
          flex-wrap: wrap
          justify-content: center
          width: 250px
          padding: 20px 15px 0px
          &__avatar
            width: 60px
            height: 60px
            margin-right: 10px
          &__name
            font-size: 16px
            line-height: 20px
          &__prof
            font-size: 12px
            line-height: 18px
          &__counter
            display: block
            font-size: 12px
            line-height: 18px
        &__link
          font-size: 12px
          line-height: 18px
    &__headline
      font-size: 30px
      line-height: 40px
    &__text
      font-size: 14px
      line-height: 20px
    &__bottom
      max-width: 150px
      flex-wrap: wrap
  .page
    &-top
      padding-left: 0
      padding-top: 64px
      &__text
        &-first
          width: auto
    &-bottom
      padding-left: 0
      &__theme
        &-image
          min-width: 200px
        &-heading
          margin-top: 10px
          margin-bottom: 10px
  .activities
    &-wrapper
      flex-wrap: wrap
    &-card
      min-width: 47%
      margin-bottom: 30px
      &__image
        width: 100%
        height: 200px
  .commentaries
    &-wrapper
      padding-left: 0
    &-heading
      align-items: center
    &-reply
      &__block
        &-form
          &__textarea
            width: 100%
  .comments
    &-wrapper
      padding: 0
    &-header
      &__title
        font-size: 26px
      &__count
        font-size: 28px
@media (max-width: 670px)
  .commentaries
    &-heading
      &__headline
        font-size: 28px
        &-counter
          font-size: 30px
@media (max-width: 586px)
  .logo
    width: 163px
  .navbar
    &-menu
      &__link
        font-weight: 700
        font-size: 16px
        line-height: 20px
        &--light
          font-weight: 700
          font-size: 16px
          line-height: 20px

  .tabs
    &-mobileContainer
      display: flex
    &-container
      display: none
    &-mobileContent
      &__block
        &-headline
          width: 100%
          font-size: 30px
          line-height: 40px
        &-title
          padding: 10px
        &-person
          margin-top: 25px
          margin-bottom: 120px
        &-image
          width: 100%
          height: 570px
          object-fit: cover
        &-link
          padding-top: 13px
          text-align: center
          font-size: 12px
          line-height: 12px
          &__arrow
            margin-left: 5px
    &-mobileItem
      &__block
        width: 50%
        padding: 10px
  .extra
    &-wrapper
      &__divider
        &--aside
          display: none
        &--horizontal
          display: block
          width: 100%
          margin-top: 5px
          margin-bottom: 10px
          height: 1px
          background-color: $light-text-color
    &-block
      width: 100%
      justify-content: space-between
      &__link
        flex-basis: 100%
      &__text
        width: 100%
  .articles
    &-main
      grid-template-columns: 1fr
      &__block
        &-wide
          height: 100%
          grid-column: span 1
          &__text
            width: 100%
          &__block
            padding: 20px
            &-right
              display: none
              height: 100%
            &-left
              width: 100%
              height: 100%
          &__coment
            padding: 25px
            &-name
              font-size: 10px
              line-height: 12px
            &-text
              font-size: 10px
              line-height: 12px
              margin-right: 5px
            &-ico
              min-width: 13px
        &-thin
          &__bottom
            top: 40%
    &-aside
      grid-template-columns: 1fr
      &__tags
        grid-column: span 1
        order: 2
      &__link
        margin-top: 25px
  .bottomPages
    &-laters
    &-articles
      &__block
        &-image
          min-width: 100%
        &__block
          &-data
    &-articles
      &__block
        &-data
          height: 100%
  .bottom
    &-wrapper
      &__block
        min-height: 180px
      &__main
        min-height: 180px
        &-block
          padding: 25px 22px 30px
      &__right
        &-work
          &__image
            height: 100%
            object-fit: cover
      &__left
        &-block
          &__headline
            width: 60%
            margin: 0 auto
  .newsletter
    &-form
      &__button
        margin-top: 0
  .announce
    height: 100%
    &-wrapper
      padding-top: 23px
      padding-bottom: 50px
      padding-left: 42px
      &__author
        bottom: -90px
        right: 0px
        &-block
          display: flex
          flex-direction: row
          flex-wrap: wrap
          justify-content: center
          width: 250px
          padding: 20px 15px 0px
          &__avatar
            width: 60px
            height: 60px
            margin-right: 10px
          &__name
            font-size: 16px
            line-height: 20px
          &__prof
            font-size: 12px
            line-height: 18px
          &__counter
            display: block
            font-size: 12px
            line-height: 18px
        &__link
          font-size: 12px
          line-height: 18px
    &__heading
      margin-bottom: 40px
      flex-direction: column
      &-navigation
        width: auto
        height: 100%
        justify-content: flex-start
        margin-top: 10PX
        margin-right: 0
        &__prev
          margin-right: 10px
    &__headline
      font-size: 24px
      line-height: 30px
    &__text
      font-size: 14px
      line-height: 16px
    &__bottom
      max-width: 150px
      flex-wrap: wrap
  .page
    font-size: 14px
    line-height: 20px
    &-top
      padding-top: 84px
      padding-left: 22px
      &__text
        &-first
          width: 100%
    &-slider
      height: 300px
    &-bottom
      padding-left: 0
      &__theme
        &-wrap
          flex-direction: column
        &-image
          min-width: 100%
    &-wrapper
      height: 100%
      border-radius: 10px
      overflow: hidden
      border: 1px solid $divider
      &__bottom
        padding-left: 10px
        &-text
          font-size: 12px
          line-height: 14px
        &-author
          &__divider
            width: 1px
            min-height: 70px
            margin-right: 15px
            background-color: $divider
            border: none
            margin-top: 0
            margin-bottom: 0
          &__avatar
            width: 25px
            height: 25px
            margin-right: 10px
            object-fit: cover
            border-radius: 50px
          &__info
            display: flex
            flex-direction: column
            &-name
              font-size: 12px
              line-height: 15px
            &-prof
              font-size: 10px
              line-height: 15px
  .swiper
    &-button
      &-prev
        width: 40px
        height: 40px
      &-next
        width: 40px
        height: 40px
  .activities
    &-wrapper
      flex-wrap: wrap
    &-card
      min-width: 49%
      &__image
        height: 200px
  .commentaries
    &-heading
      &__headline
        font-size: 24px
        line-height: 30px
        margin-bottom: 15px
        &-counter
          font-size: 24px
          line-height: 30px
    &-sheet
      &__block
        &-avatar
          width: 45px
          height: 45px
        &-message
          &__text
            font-size: 14px
            line-height: 20px
    &-reply
      &__block
        &-form
          &__textarea
            width: 100%
          &__button
            margin-top: 20px
  .comments
    &-header
      display: flex
      flex-direction: column
      flex-wrap: wrap
      &__link
        margin-top: 10px
    &-card
      &__info
        font-size: 14px
        &--mb
          margin-bottom: 10px
      &--answer
        padding-left: 0
      &__author
        display: flex
        flex-direction: column
  .newsletter-form #email-error
    position: absolute
    top: 45px
    margin-left: -50px

@media (max-width: 503px)
  .newsletter
    &-form
      &__input
        flex-basis: 1
        width: 100%
        margin-right: 0
      &__button
        margin-top: 20px
        position: relative
        left: 20%
        transform: translate(-50%, 0)
  .newsletter-form #email-error
    position: absolute
    top: 45px
    margin-left: 0px
    font-size: 10px
@media (max-width: 498px)
  .bottomPages
    &-laters
      &__container
        flex-basis: 100%
  .bottomPages
    &-latest
      &__container
        display: flex
        flex-direction: column
      &__articles
        width: 100%

@media (max-width: 448px)
  .articles
    &-aside
      &__link
        margin-top: 0
    &-main
      &__block
        &-thin
          &__bottom
            top: 40%
@media (max-width: 435px)
  .announce
    &-wrapper
      &__author
        bottom: -130px
  .page
    &-top
      &__text
        &-first
          margin-top: 60px
  .page
    &-bottom
      padding-bottom: 20px
      &__links
        flex-wrap: wrap
        &-link
          margin-bottom: 10px
          &:hover
            opacity: 1
@media (max-width: 375px)
  .tabs
    &-mobileItem
      &__block
        &-heading
          font-size: 10px
          line-height: 12px
    &-mobileContent
      &__block
        &-link
          padding-top: 13px
          text-align: center
          font-size: 12px
          line-height: 12px
  .articles
    &-main
      grid-template-columns: 1fr
      &__block
        &-wide
          height: 100%
          grid-column: span 1
          &__block
            padding: 20px
            &-right
              display: none
              height: 100%
            &-left
              width: 100%
              height: 100%
          &__coment
            padding: 25px
            &-name
              font-size: 10px
              line-height: 12px
            &-text
              font-size: 10px
              line-height: 12px
              margin-right: 5px
            &-ico
              min-width: 13px
        &-thin
          &__bottom
            top: 40%
    &-aside
      grid-template-columns: 1fr
      &__tags
        grid-column: span 1
        order: 2
  .hotnews
    &-title
      &__link
        font-size: 30px
        line-height: 40px
  .bottomPages
    &-latest
      &__container
        padding: 0 10px
    &-articles
      &__block
        &-data
          height: 100%
  .bottom
    &__link
      width: 100%
      font-size: 18px
    &-wrapper
      &__main
        &-block
          &__text
            margin-bottom: 5px
      &__right
        grid-template-columns: 1fr
        &-work
          grid-column: span 1
          grid-row: span 1
          padding: 25px 25px
          &__block
            width: 150px
      &__left
        &-block
          &__headline
            width: 95%
            margin: 0 auto
      &__left
        &-block
          width: 100%
          &__prof
            margin-bottom: 60px
          &__headline
            font-size: 24px
            line-height: 30px
          &__link
            margin-top: 60px
  .newsletter
    &-title
      font-size: 30px
      line-height: 40px
    &-form
      &__input
        width: 100%
      &__button
        &:hover
          opacity: 1
  .announce
    &-wrapper
      margin: 0 auto
      &__author
        bottom: -150px
        right: 20px
    &__text
      margin-top: 20px
      margin-bottom: 23px
    &__heading
      &-navigation
        flex-wrap: wrap
        &__home
          margin-left: 70px
          margin-right: 60px
          margin-bottom: 10px
        &__prev
          margin-right: 50px
  .page
    &-slider
      height: 150px
    &-top
      padding-top: 160px
      padding-left: 0px
      &__text
        &-first
          width: 100%
          margin-top: 0
    &-bottom
      padding-left: 0px
      padding-bottom: 30px
      &__share
        text-align: center
      &__quote
        margin-top: 40px
        margin-bottom: 25px
        font-size: 20px
        line-height: 22px
        &-icon
          left: -5px
      &__tags
        margin-bottom: 20px
        &-item
          margin-bottom: 10px
      &__share
        margin-top: 20px
      &__links
        flex-wrap: wrap
        margin: 0 auto
        &-link
          margin-bottom: 10px
          &:hover
            opacity: 1
  .swiper
    &-button
      &-prev
        width: 30px
        height: 30px
      &-next
        width: 30px
        height: 30px
  .activities
    padding-top: 30px
    padding-bottom: 30px
    &-card
      min-width: 100%
  .commentaries
    padding-top: 30px
    padding-bottom: 20px
    &-wrapper
      padding-left: 0px
    &-heading
      flex-wrap: wrap
      &__headline
        margin-bottom: 20px
    &-sheet
      &__block
        flex-direction: column
        &-answer
          padding-left: 25px
        &-message
          margin-left: 0px
    &-load
      margin-bottom: 20px
    &-reply
      padding: 10px
      &__heading
        font-size: 16px
        flex-basis: 1
        width: 100%
        margin-left: 20px
      &__block
        flex-direction: column
        &-user
          margin-bottom: 20px
          margin-left: 100px
        &-form
          &__textarea
            position: relative
            background: #fff
            border: 1px solid $divider
            &:after
              content: ""
              border: solid transparent
              position: absolute
              left: 30px
              top: -20px
              bottom: 100%
            &:before
              content: ""
              border: solid transparent
              position: absolute
              left: 30px
              top: -20px
              bottom: 100%
            &:after
              border-bottom-color: #fff
              border-width: 8px
              margin-left: 0
            &:before
              border-bottom-color: $divider
              border-width: 9px
              margin-left: -1px
          &__button
            &:hover
              opacity: 1
  #checkbox-error
    position: absolute
    bottom: 20px
    left: 65px
