@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-menu
      &__link
        margin-right: 10px
        margin-left: 10px
        font-weight: 700
        font-size: 12px
        line-height: 16px
        &:hover
          color: $secondary
    &__button
      margin-left: 40px
  .tabs
    &-item
      width: max-content
      &__block
        &:hover
          background-color: $secondary
    &-content
      width: 100%
      &__block
        &-link
          &:hover
            background-color: $blue

@media (min-width: 992px)
  .navbar
    &__button
      transition: all 0.3s ease-in-out
      &:hover
        transform: scale(1.03)
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2)
@media (max-width: 992px)
  .container
    max-width: 780px
  .logo
    width: 130px
  .navbar
    &__button
      padding: 5px 22.2px
      font-size: 12px
      line-height: 20
      margin-left: 30px

@media (max-width: 768px)
  .container
    max-width: 676px
    width: 92%
    z-index: 99
  body
    padding-top: 70px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__button
      order: -1
      margin: 0
    &-menu
      display: none
      position: fixed
      top: 70px
      left: 0
      right: 0
      bottom: 0
      width: 100%
      background-color: $primary
      &--visible
        overflow: scroll
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        justify-content: space-around
      &__link
        font-weight: 900
        font-size: 24px
        line-height: 30px
    &-button
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      padding: 0
      border: none
      cursor: pointer
      background-color: $primary
      &__line
        width: 16px
        height: 1px
        background-color: $secondary

  .tabs
    &-content
      &__block
        &-headline
          width: 100%
          font-size: 30px
          line-height: 40px

@media (max-width: 586px)
  .logo
    width: 163px
  .navbar
    &-menu
      &__link
        font-weight: 700
        font-size: 16px
        line-height: 20px
        &--light
          font-weight: 700
          font-size: 16px
          line-height: 20px

  .tabs
    &-mobileContainer
      display: flex
    &-container
      display: none
    &-mobileContent
      &__block
        &-headline
          width: 100%
          font-size: 30px
          line-height: 40px
        &-title
          padding: 10px
        &-person
          margin-top: 25px
          margin-bottom: 120px
        &-image
          width: 100%
          height: 570px
          object-fit: cover
    &-mobileItem
      &__block
        width: 50%
        padding: 10px

@media (max-width: 375px)
  .tabs
    &-mobileItem
      &__block
        &-heading
          font-size: 10px
          line-height: 12px
